<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Punchard</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <div action="#">
      <input id="barcode_input" type="text" style="position:absolute;right:9000px;"/>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 id="message_box"></h1>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/JsBarcode.min.js"></script>
    <script>
    var currentDisplayTask = undefined;
    $(".barcode").each(function() {
      var e = $(this);
      var id = e.data('barcode-id');
      e.find('svg').JsBarcode(id, {
        text: e.data('barcode-text'),
        textPosition: 'top'
      });
    });
    
    $("#barcode_input").keypress(function(e) {
      if(e.key == 'Enter' || e.keyCode == 13) {
        barcodeEvent($(this).val());
        $(this).val("");
      }
    })
    .focusout(function() {
      $(this).focus();
    });
    
    var barcodeScanned = function(input) {
      console.log("scanned")
    };
    
    $(document).ready(function() {
      $("#barcode_input").focus();
    });
    
    var barcodeEvent = function(barcode_id) {
      $.ajax({
        url: '/barcode',
        method: 'POST',
        data: {
          barcode_id: barcode_id
        },
        success: function(data) {
          barcodeEventReturned(data);
        }
      });
    };

    var barcodeEventReturned = function(data) {
      var e = $("#message_box");
      var action = data.action;
      var status = data.status;
      var message = "";
      if(action == "punch_in") {
        if(status == 'success') {
          message = data.employee.firstName + " " + data.employee.lastName + " punched in at " + (new Date(data.time)).toLocaleTimeString();
        } else {
          message = ""
        }
      } else if(action == "punch_out") {
        if(status == 'success') {
          message = data.employee.firstName + " " + data.employee.lastName + " punched out at " + (new Date(data.time)).toLocaleTimeString();
        }
      } else if(action == "no_lunch") {

      }
      if(currentDisplayTask != undefined) {
        try {
          clearTimeout(currentDisplayTask);
        } catch(e) {}
      }
      $("#message_box").css('color', status == 'success' ? 'black' : 'red');
      $("#message_box").html(message);
      currentDisplayTask = setTimeout(function() {
        $("#message_box").html("");
      }, 10000);
    };
    
    </script>
  </body>
</html>